.button--group {
	margin-top: 5px;
	padding-top: 10px ;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid #ddd;
}

.button--group>button {
	margin: 0 10px;
}
.button--group.list-bottom{
	padding: 0;
	margin: 0;
	border: none;
}
#staff--content{
	margin-top: 10px;
}
.list-group-item>div.flex-row-between{
	height: 35px;
	display: flex;
	align-items: center;
}