.input-group{
	display: inline-block;
	margin-left: 10px;
}
.tutorial-row{
	padding: 10px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #000000;
	flex-wrap: wrap;
}

.tutorial-row>div{
	margin: 0 5px;
}
.tutorial-row>.flex-col{
	max-width: 200px !important;
	width: auto;
}
.text-bold{
	font-weight: bold;
}
.text{
	word-break: break-all;
}
.edit-group{
	flex-wrap: wrap;
}
.edit-group>div{
	margin:5px;
}